body {
  background: #f4f4f4 url('imagens/fundo.png');
  font: 16px Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  flex-direction: column;
}
.img-capa {
  width: 100%;
  height: 240px;
}
#menu {
  background: #c5c5b2;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  width: 100%;
}

#menu a:hover {
  color: #f4f4f4;
}

article {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 5px;
  margin-top: 5px;
  height: 30px;
  width: 50%;
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 50%;
  height: 50px;
}
footer {
  text-align: center;
  background-color: #373737;
  color: #fff;
}

a {
  color: #4b566a;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
}

.img-campanha {
  border: 8px solid #c3c3ae;
  justify-content: center;
  width: 60%;
  align-self: left;
}

h1 {
  margin-top: 5px;
  color: #4b566a;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  textarea {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .img-campanha {
    border: 8px solid #c3c3ae;
    width: 100%;
  }
}
